[Unit]
Description=Artix dinit C&C container
Requires=network-online.target
After=network-online.target

[Container]
ContainerName=cnc
Image=cnc.build
Pull=never
Network=host
SecurityLabelDisable=true
Timezone=America/Toronto
Environment=TZ=America/Toronto
Volume=/:/host:rslave
Volume=/home/core/infra-template/vps1/volumes/cnc-data:/data:rshared
PodmanArgs=--pid=host
PodmanArgs=--cgroupns=host
PodmanArgs=--userns=host
PodmanArgs=--privileged
StopSignal=SIGTERM

[Service]
TimeoutStartSec=30min
Restart=always
RestartSec=5s
ExecStartPre=/usr/bin/mkdir -p /home/core/infra-template/vps1/volumes/cnc-data

[Install]
WantedBy=multi-user.target
