ssh_authorized_key: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICADuTaD1i54A/489uTWBSbh3RIo92DPVh8MZ2cGRGF3
containers_git_repo: https://github.com/ebrahim37/infra-template.git

git_name: Ebrahim
git_email: 53321702+ebrahim37@users.noreply.github.com
github_user: ebrahim37
github_token: ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# used in croc-relay on vps1 and croc scripts in cnc's
croc_password: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# pre-generated croc secret shared between all hosts so no need to copy a code
croc_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
