server:
  host: "0.0.0.0"
  port: 3000
  base_url: "https://headscale.{{ vps1.base_domain }}"
  cookie_secret: "{{ vps1.priv_headplane_cookie_secret }}"
  cookie_secure: true
  cookie_max_age: 86400 # 1 day
  cookie_domain: "headscale.{{ vps1.base_domain }}"
  data_path: "/var/lib/headplane"

headscale:
  url: "https://headscale.{{ vps1.base_domain }}"
  config_path: "/etc/headscale/config.yaml"
  api_key: "{{ vps1.priv_headplane_api_key }}"

integration:
  agent:
    enabled: true
  docker:
    enabled: true
    container_label: "me.tale.headplane.target=headscale"
    socket: "tcp://169.254.1.3:58857"
  kubernetes:
    enabled: false
    pod_name: "headscale"
  proc:
    enabled: false

oidc:
  issuer: "https://auth.{{ vps1.base_domain }}"
  token_endpoint_auth_method: "client_secret_post"
  client_id: "{{ vps1.headscale_oidc_client_id }}"
  client_secret: "{{ vps1.priv_headscale_oidc_client_secret }}"
  use_pkce: true
  disable_api_key_login: true
  profile_picture_source: "oidc"
  default_role: "member"
