[Unit]
Description=Headplane UI
Requires=headscale.container docker-socket-proxy.container caddy.container
After=headscale.container docker-socket-proxy.container caddy.container

[Container]
ContainerName=headplane
Image=ghcr.io/tale/headplane
Pull=newer
Network=pasta:--map-host-loopback,169.254.1.3
AddHost=host.containers.internal:169.254.1.3
AddHost=headscale.{{ base_domain }}:host-gateway
AddHost=auth.{{ base_domain }}:host-gateway
PublishPort=127.0.0.1:56977:3000
Volume=/usr/share/zoneinfo/America/Toronto:/etc/localtime:ro
Volume=./headplane.yaml:/etc/headplane/config.yaml:ro,Z
Volume=/home/core/containers-git/vps1/volumes/headplane-data:/var/lib/headplane:Z
Volume=./headscale.yaml:/etc/headscale/config.yaml:z
Volume=./dns_records.json:/etc/headscale/dns_records.json:z

[Service]
TimeoutStartSec=15min
ExecStartPre=/usr/bin/mkdir -p /home/core/containers-git/vps1/volumes/headplane-data

[Install]
WantedBy=default.target
