[Unit]
Description=Headscale control server
Requires=pocketid.container caddy.container
After=pocketid.container caddy.container

[Container]
ContainerName=headscale
Image=docker.io/headscale/headscale:v0.29
Pull=newer
ReadOnly=true
Tmpfs=/var/run/headscale
AddHost=auth.{{ base_domain }}:host-gateway
PublishPort=127.0.0.1:54624:8080
PublishPort=3480:3480/udp
Volume=./headscale.yaml:/etc/headscale/config.yaml:z
Volume=./dns_records.json:/etc/headscale/dns_records.json:z
Volume=/home/core/containers-git/vps1/volumes/headscale-data:/var/lib/headscale:z
Label=me.tale.headplane.target=headscale
Exec=serve
HealthCmd=["/ko-app/headscale", "health"]
HealthInterval=10s
HealthTimeout=3s
HealthRetries=12
HealthStartPeriod=20s
Notify=healthy

[Service]
TimeoutStartSec=15min
ExecStartPre=/usr/bin/mkdir -p /home/core/containers-git/vps1/volumes/headscale-data
ExecStartPre=/usr/bin/sleep 4

[Install]
WantedBy=default.target
