[Unit]
Description=Comet
Requires=comet-postgres.container
After=comet-postgres.container

[Container]
ContainerName=comet
Image=docker.io/g0ldyy/comet
Pull=newer
PublishPort=8000:8000/tcp
Volume=/home/core/infra-template/homelab/volumes/comet-data:/app/data:Z
Environment=ADDON_ID=stremio.comet.ebrahim.local
Environment="ADMIN_DASHBOARD_PASSWORD={{ homelab.priv_comet_admin_dashboard_password }}"
Environment="CONFIGURE_PAGE_PASSWORD={{ homelab.priv_comet_configure_page_password }}"
Environment="PUBLIC_API_TOKEN={{ homelab.priv_comet_public_api_token }}"
Environment=DATABASE_TYPE=postgresql
Environment="DATABASE_URL=comet:{{ homelab.priv_comet_postgres_password }}@host.containers.internal:15432/comet"
Environment=SCRAPE_TORBOX=True
Environment="TORBOX_API_KEY={{ homelab.priv_torbox_api_key }}"
Environment=SCRAPE_TORRENTIO=live
Environment=SCRAPE_STREMTHRU=live
Environment=DISABLE_TORRENT_STREAMS=True
Environment="TMDB_READ_ACCESS_TOKEN={{ homelab.priv_tmdb_read_access_token }}"
Environment=REMOVE_ADULT_CONTENT=True

[Service]
TimeoutStartSec=15min
ExecStartPre=/usr/bin/mkdir -p /home/core/infra-template/homelab/volumes/comet-data

[Install]
WantedBy=default.target
