[Unit]
Description=Stremio streaming server

[Container]
ContainerName=stremio-server
Image=docker.io/stremio/server
Pull=newer
PublishPort=11470:11470/tcp
Volume=/home/core/infra-template/homelab/volumes/stremio-server-data:/root/.stremio-server:Z

[Service]
TimeoutStartSec=15min
ExecStartPre=/usr/bin/mkdir -p /home/core/infra-template/homelab/volumes/stremio-server-data

[Install]
WantedBy=default.target
