{
	grace_period 5s
}

http://127.0.0.1, http://localhost {
	handle /_health {
		log_skip
		respond 204
	}
}

(protected) {
	route {args[0]} {
		forward_auth host.containers.internal:19491 {
			uri /api/auth/caddy
			copy_headers Remote-User Remote-Name Remote-Email Remote-Groups
		}
		reverse_proxy {args[1:]}
	}
}

http://headscale.{$BASE_DOMAIN} {
	handle /generate_204 {
		respond 204
	}

	handle {
		redir https://{host}{uri}
	}
}

*.{$BASE_DOMAIN} {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	log {
		output file /var/log/access.log
		format console
	}

	@pc-pub host pc-pub.{$BASE_DOMAIN}
	reverse_proxy @pc-pub 100.64.0.4:3390

	@mba-pub host mba-pub.{$BASE_DOMAIN}
	reverse_proxy @mba-pub 100.64.0.5:3390

	@tinyauth host tinyauth.{$BASE_DOMAIN}
	reverse_proxy @tinyauth host.containers.internal:19491

	@pocketid host auth.{$BASE_DOMAIN}
	reverse_proxy @pocketid host.containers.internal:18467

	@widgets host widgets.{$BASE_DOMAIN}
	reverse_proxy @widgets host.containers.internal:26281

	@wealthgate host wealthgate-api.{$BASE_DOMAIN}
	reverse_proxy @wealthgate host.containers.internal:15647

	@orion host orion-api.{$BASE_DOMAIN}
	reverse_proxy @orion host.containers.internal:9010

	@cf host cf-api.{$BASE_DOMAIN}
	import protected @cf host.containers.internal:20177
	@cf-front host cf-front.{$BASE_DOMAIN}
	reverse_proxy @cf-front host.containers.internal:3390

	@cash host cash-api.{$BASE_DOMAIN}
	@cash_book1_bypass {
		host cash-api.{$BASE_DOMAIN}
		path /basicbalance/Book1.csv
		query auth={env.CSV_AUTH_TOKEN}
	}
	route @cash {
		handle @cash_book1_bypass {
			reverse_proxy host.containers.internal:20077 {
				header_up -auth
			}
		}
		handle {
			forward_auth host.containers.internal:19491 {
				uri /api/auth/caddy
				copy_headers Remote-User Remote-Name Remote-Email Remote-Groups
			}
			reverse_proxy host.containers.internal:20077
		}
	}
	@cash-front host cash-front.{$BASE_DOMAIN}
	reverse_proxy @cash-front host.containers.internal:3390

	@chat host chat.{$BASE_DOMAIN}
	reverse_proxy @chat host.containers.internal:64565
	@chat-livekit host chat-livekit.{$BASE_DOMAIN}
	route @chat-livekit {
		handle_path /livekit/jwt* {
			reverse_proxy host.containers.internal:60356
		}
		handle_path /livekit/sfu* {
			reverse_proxy host.containers.internal:64531
		}
	}

	@matrix-sender {
		host matrix-sender.{$BASE_DOMAIN}
		header Auth {env.MATRIX_SENDER_AUTH_TOKEN}
	}
	reverse_proxy @matrix-sender host.containers.internal:52498

	@vaultwarden host vaultwarden.{$BASE_DOMAIN}
	reverse_proxy @vaultwarden host.containers.internal:62297 {
		header_up X-Real-IP {remote_host}
	}

	@glance host glance.{$BASE_DOMAIN}
	import protected @glance host.containers.internal:50734

	@hs host headscale.{$BASE_DOMAIN}
	route @hs {
		@headplane path /admin*
		reverse_proxy @headplane host.containers.internal:56977

		@api path /api/*
		handle @api {
			@preflight method OPTIONS
			handle @preflight {
				header Access-Control-Allow-Origin "*"
				header Access-Control-Allow-Methods "GET"
				header Access-Control-Allow-Headers "Authorization, Content-Type, Accept"
				header Access-Control-Max-Age "86400"
				respond "" 204
			}
			header {
				Access-Control-Allow-Origin "*"
				Access-Control-Expose-Headers "Content-Length, Content-Type"
				Vary "Origin, Access-Control-Request-Method, Access-Control-Request-Headers"
			}
			reverse_proxy host.containers.internal:54624
		}

		handle {
			reverse_proxy host.containers.internal:54624
		}
	}

	@jellyfin host jellyfin.{$BASE_DOMAIN}
	import protected @jellyfin 100.64.0.3:8096

	@rybbit host heartbeat.{$BASE_DOMAIN}
	route @rybbit {
		handle /api/* {
			reverse_proxy host.containers.internal:55401 {
				header_up X-Real-IP {remote_host}
			}
		}
		handle {
			reverse_proxy host.containers.internal:52363 {
				header_up X-Real-IP {remote_host}
			}
		}
	}
}
