[Unit]
Description=tinyauth authentication proxy
Requires=pocketid.container
After=pocketid.container

[Container]
ContainerName=tinyauth
Image=ghcr.io/tinyauthapp/tinyauth:v5-distroless
Pull=newer
AddHost=auth.{{ base_domain }}:host-gateway
PublishPort=127.0.0.1:19491:3000
Environment="TINYAUTH_UI_TITLE={{ base_domain }}"
Environment="TINYAUTH_APPURL=https://tinyauth.{{ base_domain }}"
Environment=TINYAUTH_ANALYTICS_ENABLED=false
Environment=TINYAUTH_AUTH_SESSIONEXPIRY=604800
Environment=TINYAUTH_AUTH_SECURECOOKIE=true
Environment=TINYAUTH_AUTH_USERSFILE=/users.txt
Environment="TINYAUTH_AUTH_TRUSTEDPROXIES={{ public_ipv4 }}/32"
Environment="TINYAUTH_OAUTH_PROVIDERS_POCKETID_CLIENTID={{ tinyauth_oidc_client_id }}"
Environment="TINYAUTH_OAUTH_PROVIDERS_POCKETID_CLIENTSECRET={{ tinyauth_oidc_client_secret }}"
Environment="TINYAUTH_OAUTH_PROVIDERS_POCKETID_SCOPES=openid email profile groups"
Environment="TINYAUTH_OAUTH_PROVIDERS_POCKETID_REDIRECTURL=https://tinyauth.{{ base_domain }}/api/oauth/callback/pocketid"
Environment="TINYAUTH_OAUTH_PROVIDERS_POCKETID_AUTHURL=https://auth.{{ base_domain }}/authorize"
Environment="TINYAUTH_OAUTH_PROVIDERS_POCKETID_TOKENURL=https://auth.{{ base_domain }}/api/oidc/token"
Environment="TINYAUTH_OAUTH_PROVIDERS_POCKETID_USERINFOURL=https://auth.{{ base_domain }}/api/oidc/userinfo"
Environment="TINYAUTH_OAUTH_PROVIDERS_POCKETID_NAME=Pocket ID"
Environment="TINYAUTH_APPS_CASHAPI_CONFIG_DOMAIN=cash-api.{{ base_domain }}"
Environment="TINYAUTH_APPS_CASHAPI_OAUTH_WHITELIST={{ tinyauth_admin_email }}"
Environment="TINYAUTH_APPS_CASHAPI_USERS_ALLOW={{ tinyauth_admin_username }}"
Environment="TINYAUTH_APPS_CFAPI_CONFIG_DOMAIN=cf-api.{{ base_domain }}"
Environment="TINYAUTH_APPS_CFAPI_OAUTH_WHITELIST={{ tinyauth_admin_email }}"
Environment="TINYAUTH_APPS_CFAPI_USERS_ALLOW={{ tinyauth_admin_username }}"
Environment="TINYAUTH_APPS_GLANCE_CONFIG_DOMAIN=glance.{{ base_domain }}"
Environment="TINYAUTH_APPS_GLANCE_OAUTH_WHITELIST={{ tinyauth_admin_email }}"
Environment="TINYAUTH_APPS_GLANCE_USERS_ALLOW={{ tinyauth_admin_username }}"
Volume=./users.txt:/users.txt:ro,Z

[Service]
TimeoutStartSec=15min
# tinyauth exits with status 2 when stopped by podman/systemd
SuccessExitStatus=2

[Install]
WantedBy=default.target
