port: 64531 # 7880
bind_addresses: ['127.0.0.1']
keys:
  {{ livekit_key | tojson }}: {{ livekit_secret | tojson }}
rtc:
  tcp_port: 7881
  port_range_start: 50000
  port_range_end: 51000
  use_external_ip: true
turn:
  enabled: false
room:
  auto_create: false
