[Unit]
Description=Orion backend

[Container]
ContainerName=orion-back
Image=docker.io/oven/bun:alpine
Pull=newer
PublishPort=127.0.0.1:9010:9010
Volume=/home/core/projs/orion/back:/src:ro,Z
Volume=/home/core/containers-git/vps1/volumes/projs-orion-node:/app/node_modules:Z
WorkingDir=/app
Exec=sh -lc "cp -a /src/. /app && bun install && bun run start"

[Service]
TimeoutStartSec=15min
ExecStartPre=/usr/bin/mkdir -p /home/core/containers-git/vps1/volumes/projs-orion-node

[Install]
WantedBy=default.target
