hostname: vps1
base_domain: ebra.dev
public_ipv4: 152.53.167.145
public_ipv6: 2a0a:4cc0:2000:9c0b::1
ssh_authorized_key: ssh-ed25519 AAAAC3NzaC1lZDI1...
containers_git_repo: https://github.com/beans42/containers.git

headscale_domain: ebra.devices
headscale_ipv4_prefix: 100.64.0.0/24
tailnet_ipv4: 100.64.0.2

# create these in Pocket ID settings > Administration > OIDC Clients
headscale_oidc_client_id: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
headscale_oidc_client_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
tinyauth_oidc_client_id: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
tinyauth_oidc_client_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
tuwunel_oidc_client_id: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
tuwunel_oidc_client_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# for caddy DNS challenge
cloudflare_api_token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# caddy header auth tokens for internal tools
csv_auth_token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
matrix_sender_auth_token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
croc_password: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
glance_secret_token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

headplane_cookie_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
headplane_pre_authkey: hskey-auth-...
headplane_api_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

matrix_username: paulie
matrix_password: xxxxxxxxxxxxxxxx
matrix_recovery_key: xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx

# openssl rand -base64 32
pocketid_encryption_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# openssl rand -hex 32
rybbit_better_auth_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
tailscale_auth_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

tinyauth_admin_username: ebrahim
tinyauth_admin_email: admin@example.com
# https://tinyauth.app/docs/reference/cli/#create-user-command
tinyauth_admin_password_hash: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
tinyauth_admin_totp_hash: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
tinyauth_guest_password_hash: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

livekit_key: xxxxxxxxxxxxxxx
livekit_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
turn_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

vaultwarden_admin_token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# https://www.reddit.com/r/SaaS/s/4NOqHfwgDq
smtp_username: xxxxxxxx@gmail.com
smtp_password: xxxxxxxxxxxxxxxx
smtp_from: vaultwarden@example.com
# https://bitwarden.com/host/
vaultwarden_push_installation_id: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
vaultwarden_push_installation_key: xxxxxxxxxxxxxxxxxxxx
