[Unit]
Description=Actual Budget HTTP API
Requires=actual.container
After=actual.container

[Container]
ContainerName=actual-api
Image=docker.io/jhonderson/actual-http-api
Pull=newer
PublishPort=5007:5007
Environment="ACTUAL_SERVER_PASSWORD={{ homelab.priv_actual_server_password }}"
Environment="API_KEY={{ homelab.priv_actual_api_key }}"
Environment=ACTUAL_SERVER_URL=http://host.containers.internal:5006/
Volume=/home/core/infra-template/homelab/volumes/actual-api-data:/data:Z

[Service]
TimeoutStartSec=15min
ExecStartPre=/usr/bin/mkdir -p /home/core/infra-template/homelab/volumes/actual-api-data

[Install]
WantedBy=default.target
