[Unit]
Description=Rybbit Redis

[Container]
ContainerName=rybbit-redis
Image=docker.io/redis:8.6.4-alpine
Pull=newer
PublishPort=127.0.0.1:56379:6379
EnvironmentFile=./env/redis.env
Volume=/home/core/infra-template/vps1/volumes/rybbit-redis:/data:Z
Exec=redis-server --requirepass changeme --appendonly yes --appendfsync everysec --maxmemory-policy noeviction
HealthCmd=redis-cli -a changeme --no-auth-warning ping
HealthInterval=3s
HealthTimeout=5s
HealthRetries=5
HealthStartPeriod=5s
Notify=healthy

[Service]
TimeoutStartSec=15min
ExecStartPre=/usr/bin/mkdir -p /home/core/infra-template/vps1/volumes/rybbit-redis

[Install]
WantedBy=default.target
