#!/bin/sh
mkdir -p /tmp/croc-config
CROC_CONFIG_DIR=/tmp/croc-config \
	CROC_SECRET="{{ croc_secret }}" \
	CROC_PASS="{{ croc_password }}" \
	croc-bin --disable-clipboard --relay "vps1.ebra.dev:53889" "$@"
