#!/bin/sh
mkdir -p /tmp/croc-root-config
sudo env \
	CROC_CONFIG_DIR=/tmp/croc-root-config \
	CROC_SECRET="{{ croc_secret }}" \
	CROC_PASS="{{ croc_password }}" \
	~/scripts/croc-bin --disable-clipboard --relay "vps1.ebra.dev:53889" "$@"
