---
server_url: https://headscale.{{ base_domain }}
listen_addr: 0.0.0.0:8080
trusted_proxies: [ {{ public_ipv4 }}/32, 169.254.1.2/32 ]

noise:
  private_key_path: /var/lib/headscale/noise_private.key

prefixes:
  v4: {{ headscale_ipv4_prefix }}

derp:
  server:
    enabled: true
    region_id: 999
    region_code: "headscale"
    region_name: "Headscale Embedded DERP"
    verify_clients: true
    stun_listen_addr: "0.0.0.0:3480"
    private_key_path: /var/lib/headscale/derp_server_private.key
    automatically_add_embedded_derp_region: true
    ipv4: {{ public_ipv4 }}
    ipv6: {{ public_ipv6 }}
  urls: []

database:
  type: sqlite
  sqlite:
    path: /var/lib/headscale/db.sqlite
    write_ahead_log: true
    wal_autocheckpoint: 1000

policy:
  mode: database

dns:
  magic_dns: true
  base_domain: {{ headscale_domain }}
  override_local_dns: true
  nameservers:
    global: ['{{ tailnet_ipv4 }}']
  search_domains: [ '{{ base_domain }}' ]
  extra_records_path: "/etc/headscale/dns_records.json"

oidc:
  issuer: "https://auth.{{ base_domain }}"
  client_id: "{{ headscale_oidc_client_id }}"
  client_secret: "{{ headscale_oidc_client_secret }}"
  pkce:
    enabled: true

auto_update:
  enabled: true
