[Unit]
Description=Matrix sender API
Requires=tuwunel.container caddy.container
After=tuwunel.container caddy.container

[Container]
ContainerName=matrix-sender
Image=docker.io/oven/bun:slim
Pull=newer
AddHost=chat.{{ base_domain }}:host-gateway
PublishPort=127.0.0.1:52498:8080
Environment="MATRIX_HOMESERVER=https://chat.{{ base_domain }}"
Environment="MATRIX_USERNAME={{ matrix_username }}"
Environment="MATRIX_PASSWORD={{ matrix_password }}"
Environment="MATRIX_RECOVERY_KEY={{ matrix_recovery_key }}"
Volume=.:/src:ro,Z
Volume=./entrypoint.sh:/usr/local/bin/entrypoint.sh:ro,Z
Volume=/home/core/containers-git/vps1/volumes/matrix-sender-node:/app/node_modules:Z
Volume=/home/core/containers-git/vps1/volumes/matrix-sender-data:/app/data:Z
WorkingDir=/app
Exec=/usr/local/bin/entrypoint.sh

[Service]
TimeoutStartSec=15min
ExecStartPre=/usr/bin/mkdir -p /home/core/containers-git/vps1/volumes/matrix-sender-node
ExecStartPre=/usr/bin/mkdir -p /home/core/containers-git/vps1/volumes/matrix-sender-data

[Install]
WantedBy=default.target
