Host vps1
	HostName vps1.ebra.dev
	User core
	ForwardAgent yes

Host vps1c
	HostName vps1.ebra.dev
	Port 222
	User ebrahim
	ForwardAgent yes

Host homelab
	HostName 100.64.0.2
	User core
	ForwardAgent yes

Host homelabc
	HostName 100.64.0.2
	Port 222
	User ebrahim
	ForwardAgent yes

Host offsite
	HostName 100.64.0.6
	User core
	ForwardAgent yes

Host offsitec
	HostName 100.64.0.6
	Port 222
	User ebrahim
	ForwardAgent yes

Host pc
	HostName 100.64.0.3
	User Ebrahim
	ForwardAgent yes

Host pc-qemu
	HostName 100.64.0.21
	User ebrahim
	ForwardAgent yes

Host mba-utm
	HostName 100.64.0.22
	User ebrahim
	ForwardAgent yes