realm=chat.{{ base_domain }}
listening-port=3479
tls-listening-port=5350
min-port=13000
max-port=15999
no-software-attribute
use-auth-secret
static-auth-secret={{ turn_secret }}
cert=/etc/coturn/certs/wildcard_.{{ base_domain }}.crt
pkey=/etc/coturn/certs/wildcard_.{{ base_domain }}.key
log-file=stdout
