[Unit]
Description=Tuwunel Matrix homeserver
Requires=pocketid.container caddy.container
After=pocketid.container caddy.container

[Container]
ContainerName=tuwunel
Image=docker.io/jevolk/tuwunel:main-release-all-x86_64-v3-linux-gnu
Pull=newer
AddHost=auth.{{ base_domain }}:host-gateway
PublishPort=127.0.0.1:64565:8008
Environment=TUWUNEL_CONFIG=/etc/tuwunel/tuwunel.toml
Volume=/home/core/containers-git/vps1/volumes/tuwunel-data:/var/lib/tuwunel:Z
Volume=./tuwunel.toml:/etc/tuwunel/tuwunel.toml:ro,Z

[Service]
TimeoutStartSec=15min
ExecStartPre=/usr/bin/mkdir -p /home/core/containers-git/vps1/volumes/tuwunel-data
ExecStartPost=/bin/sh -c "until /usr/bin/curl -fsS 'https://chat.ebra.dev/_tuwunel/server_version' >/dev/null; do /usr/bin/sleep 1; done"

[Install]
WantedBy=default.target
