[Unit]
Description=Tuwunel LiveKit JWT service
Requires=tuwunel-livekit.container
After=tuwunel-livekit.container

[Container]
ContainerName=tuwunel-jwt
Image=ghcr.io/element-hq/lk-jwt-service
Pull=newer
AddHost=chat-livekit.{{ base_domain }}:host-gateway
AddHost=chat.{{ base_domain }}:host-gateway
PublishPort=127.0.0.1:60356:8080
Environment="LIVEKIT_FULL_ACCESS_HOMESERVERS={{ base_domain }}"
Environment="LIVEKIT_URL=wss://chat-livekit.{{ base_domain }}/livekit/sfu"
Environment="LIVEKIT_KEY={{ livekit_key }}"
Environment="LIVEKIT_SECRET={{ livekit_secret }}"

[Service]
TimeoutStartSec=15min
# lk-jwt-service exits with status 2 when stopped by podman/systemd
SuccessExitStatus=2

[Install]
WantedBy=default.target
