[Unit]
Description=Glance dashboard

[Container]
ContainerName=glance
Image=docker.io/glanceapp/glance:latest
Pull=newer
PublishPort=127.0.0.1:50734:8080
Environment="MY_SECRET_TOKEN={{ glance_secret_token }}"
Volume=./config:/app/config:Z
Volume=./assets:/app/assets:Z
Volume=/etc/localtime:/etc/localtime:ro

[Service]
TimeoutStartSec=15min

[Install]
WantedBy=default.target
