[Unit]
Description=Widgets service

[Container]
ContainerName=widgets
Image=docker.io/oven/bun:alpine
Pull=newer
PublishPort=127.0.0.1:26281:26281
Volume=/home/core/containers-git/vps1/projs/widgets:/src:ro,Z
Volume=/home/core/containers-git/vps1/services/rootless/projs/widgets/entrypoint.sh:/usr/local/bin/entrypoint.sh:ro,Z
Volume=/home/core/containers-git/vps1/volumes/projs-widgets-node:/app/node_modules:Z
WorkingDir=/app
Exec=/usr/local/bin/entrypoint.sh

[Service]
TimeoutStartSec=15min
ExecStartPre=/usr/bin/mkdir -p /home/core/containers-git/vps1/volumes/projs-widgets-node

[Install]
WantedBy=default.target
