[Unit]
Description=Tailscale client
Requires=network-online.target
After=network-online.target

[Container]
ContainerName=tailscale-client
Image=docker.io/tailscale/tailscale
Pull=newer
Network=host
AddDevice=/dev/net/tun
AddCapability=NET_ADMIN NET_RAW
Volume=/home/core/containers-git/vps1/volumes/tailscale-client-data:/var/lib/tailscale:Z
Environment="TS_AUTHKEY={{ tailscale_auth_key }}"
Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_USERSPACE=false
Environment=TS_AUTH_ONCE=true
Environment=TS_HOSTNAME={{ hostname }}
Environment="TS_EXTRA_ARGS=--login-server=https://headscale.{{ base_domain }} --advertise-exit-node"
Environment=TS_ENABLE_HEALTH_CHECK=true
Environment=TS_LOCAL_ADDR_PORT=127.0.0.1:9002
HealthCmd=["wget","-q","--spider","http://127.0.0.1:9002/healthz"]
HealthInterval=10s
HealthTimeout=3s
HealthRetries=12
HealthStartPeriod=10s
Notify=healthy

[Service]
TimeoutStartSec=15min
ExecStartPre=install -d -o core -g core -m 0755 /home/core/containers-git/vps1/volumes/tailscale-client-data

[Install]
WantedBy=multi-user.target
